.ac { background: url('ac.png'); }
.ad { background: url('ad.png'); }
.ae { background: url('ae.png'); }
.af { background: url('af.png'); }
.ag { background: url('ag.png'); }
.ai { background: url('ai.png'); }
.al { background: url('al.png'); }
.am { background: url('am.png'); }
.an { background: url('an.png'); }
.ao { background: url('ao.png'); }
.aq { background: url('aq.png'); }
.ar { background: url('ar.png'); }
.as { background: url('as.png'); }
.at { background: url('at.png'); }
.au { background: url('au.png'); }
.aw { background: url('aw.png'); }
.ax { background: url('ax.png'); }
.az { background: url('az.png'); }
.ba { background: url('ba.png'); }
.bb { background: url('bb.png'); }
.bd { background: url('bd.png'); }
.be { background: url('be.png'); }
.bf { background: url('bf.png'); }
.bg { background: url('bg.png'); }
.bh { background: url('bh.png'); }
.bi { background: url('bi.png'); }
.bin { background: url('bin.png'); }
.bj { background: url('bj.png'); }
.bl { background: url('bl.png'); }
.bm { background: url('bm.png'); }
.bn { background: url('bn.png'); }
.bo { background: url('bo.png'); }
.bq { background: url('bq.png'); }
.br { background: url('br.png'); }
.bs { background: url('bs.png'); }
.bt { background: url('bt.png'); }
.bv { background: url('bv.png'); }
.bw { background: url('bw.png'); }
.by { background: url('by.png'); }
.bz { background: url('bz.png'); }
.ca { background: url('ca.png'); }
.cat { background: url('cat.png'); }
.cc { background: url('cc.png'); }
.cd { background: url('cd.png'); }
.cf { background: url('cf.png'); }
.cg { background: url('cg.png'); }
.ch { background: url('ch.png'); }
.ci { background: url('ci.png'); }
.ck { background: url('ck.png'); }
.cl { background: url('cl.png'); }
.cm { background: url('cm.png'); }
.cn { background: url('cn.png'); }
.co { background: url('co.png'); }
.cr { background: url('cr.png'); }
.cs { background: url('cs.png'); }
.cu { background: url('cu.png'); }
.cv { background: url('cv.png'); }
.cw { background: url('cw.png'); }
.cx { background: url('cx.png'); }
.cy { background: url('cy.png'); }
.cz { background: url('cz.png'); }
.dd { background: url('dd.png'); }
.de { background: url('de.png'); }
.dj { background: url('dj.png'); }
.dk { background: url('dk.png'); }
.dm { background: url('dm.png'); }
.do { background: url('do.png'); }
.dz { background: url('dz.png'); }
.ec { background: url('ec.png'); }
.ee { background: url('ee.png'); }
.eg { background: url('eg.png'); }
.eh { background: url('eh.png'); }
.er { background: url('er.png'); }
.es { background: url('es.png'); }
.et { background: url('et.png'); }
.eu { background: url('eu.png'); }
.fi { background: url('fi.png'); }
.fj { background: url('fj.png'); }
.fk { background: url('fk.png'); }
.fm { background: url('fm.png'); }
.fo { background: url('fo.png'); }
.fr { background: url('fr.png'); }
.fx { background: url('fx.png'); }
.ga { background: url('ga.png'); }
.gb { background: url('gb.png'); }
.gd { background: url('gd.png'); }
.ge { background: url('ge.png'); }
.gf { background: url('gf.png'); }
.gg { background: url('gg.png'); }
.gh { background: url('gh.png'); }
.gi { background: url('gi.png'); }
.gl { background: url('gl.png'); }
.gm { background: url('gm.png'); }
.gn { background: url('gn.png'); }
.gp { background: url('gp.png'); }
.gq { background: url('gq.png'); }
.gr { background: url('gr.png'); }
.gs { background: url('gs.png'); }
.gt { background: url('gt.png'); }
.gu { background: url('gu.png'); }
.gw { background: url('gw.png'); }
.gy { background: url('gy.png'); }
.hk { background: url('hk.png'); }
.hm { background: url('hm.png'); }
.hn { background: url('hn.png'); }
.hr { background: url('hr.png'); }
.ht { background: url('ht.png'); }
.hu { background: url('hu.png'); }
.id { background: url('id.png'); }
.ie { background: url('ie.png'); }
.il { background: url('il.png'); }
.im { background: url('im.png'); }
.in { background: url('in.png'); }
.io { background: url('io.png'); }
.iq { background: url('iq.png'); }
.ir { background: url('ir.png'); }
.is { background: url('is.png'); }
.it { background: url('it.png'); }
.je { background: url('je.png'); }
.jm { background: url('jm.png'); }
.jo { background: url('jo.png'); }
.jp { background: url('jp.png'); }
.ke { background: url('ke.png'); }
.kg { background: url('kg.png'); }
.kh { background: url('kh.png'); }
.ki { background: url('ki.png'); }
.km { background: url('km.png'); }
.kn { background: url('kn.png'); }
.kp { background: url('kp.png'); }
.kr { background: url('kr.png'); }
.kw { background: url('kw.png'); }
.ky { background: url('ky.png'); }
.kz { background: url('kz.png'); }
.la { background: url('la.png'); }
.lb { background: url('lb.png'); }
.lc { background: url('lc.png'); }
.li { background: url('li.png'); }
.lk { background: url('lk.png'); }
.lr { background: url('lr.png'); }
.ls { background: url('ls.png'); }
.lt { background: url('lt.png'); }
.lu { background: url('lu.png'); }
.lv { background: url('lv.png'); }
.ly { background: url('ly.png'); }
.ma { background: url('ma.png'); }
.mc { background: url('mc.png'); }
.md { background: url('md.png'); }
.me { background: url('me.png'); }
.mf { background: url('mf.png'); }
.mg { background: url('mg.png'); }
.mh { background: url('mh.png'); }
.mk { background: url('mk.png'); }
.ml { background: url('ml.png'); }
.mm { background: url('mm.png'); }
.mn { background: url('mn.png'); }
.mo { background: url('mo.png'); }
.mp { background: url('mp.png'); }
.mq { background: url('mq.png'); }
.mr { background: url('mr.png'); }
.ms { background: url('ms.png'); }
.mt { background: url('mt.png'); }
.mu { background: url('mu.png'); }
.mv { background: url('mv.png'); }
.mw { background: url('mw.png'); }
.mx { background: url('mx.png'); }
.my { background: url('my.png'); }
.mz { background: url('mz.png'); }
.na { background: url('na.png'); }
.nc { background: url('nc.png'); }
.ne { background: url('ne.png'); }
.nf { background: url('nf.png'); }
.ng { background: url('ng.png'); }
.ni { background: url('ni.png'); }
.nl { background: url('nl.png'); }
.no { background: url('no.png'); }
.np { background: url('np.png'); }
.nr { background: url('nr.png'); }
.nu { background: url('nu.png'); }
.nz { background: url('nz.png'); }
.om { background: url('om.png'); }
.pa { background: url('pa.png'); }
.pe { background: url('pe.png'); }
.pf { background: url('pf.png'); }
.pg { background: url('pg.png'); }
.ph { background: url('ph.png'); }
.pk { background: url('pk.png'); }
.pl { background: url('pl.png'); }
.pm { background: url('pm.png'); }
.pn { background: url('pn.png'); }
.pr { background: url('pr.png'); }
.ps { background: url('ps.png'); }
.pt { background: url('pt.png'); }
.pw { background: url('pw.png'); }
.py { background: url('py.png'); }
.qa { background: url('qa.png'); }
.re { background: url('re.png'); }
.ro { background: url('ro.png'); }
.rs { background: url('rs.png'); }
.ru { background: url('ru.png'); }
.rw { background: url('rw.png'); }
.sa { background: url('sa.png'); }
.sb { background: url('sb.png'); }
.sc { background: url('sc.png'); }
.sd { background: url('sd.png'); }
.se { background: url('se.png'); }
.sf { background: url('sf.png'); }
.sg { background: url('sg.png'); }
.sh { background: url('sh.png'); }
.si { background: url('si.png'); }
.sj { background: url('sj.png'); }
.sk { background: url('sk.png'); }
.sl { background: url('sl.png'); }
.sm { background: url('sm.png'); }
.sn { background: url('sn.png'); }
.so { background: url('so.png'); }
.sr { background: url('sr.png'); }
.ss { background: url('ss.png'); }
.st { background: url('st.png'); }
.su { background: url('su.png'); }
.sv { background: url('sv.png'); }
.sx { background: url('sx.png'); }
.sy { background: url('sy.png'); }
.sz { background: url('sz.png'); }
.tc { background: url('tc.png'); }
.td { background: url('td.png'); }
.tf { background: url('tf.png'); }
.tg { background: url('tg.png'); }
.th { background: url('th.png'); }
.tj { background: url('tj.png'); }
.tk { background: url('tk.png'); }
.tl { background: url('tl.png'); }
.tm { background: url('tm.png'); }
.tn { background: url('tn.png'); }
.to { background: url('to.png'); }
.tp { background: url('tp.png'); }
.tr { background: url('tr.png'); }
.tt { background: url('tt.png'); }
.tv { background: url('tv.png'); }
.tw { background: url('tw.png'); }
.tz { background: url('tz.png'); }
.ua { background: url('ua.png'); }
.ug { background: url('ug.png'); }
.uk { background: url('uk.png'); }
.um { background: url('um.png'); }
.us { background: url('us.png'); }
.uy { background: url('uy.png'); }
.uz { background: url('uz.png'); }
.va { background: url('va.png'); }
.vc { background: url('vc.png'); }
.ve { background: url('ve.png'); }
.vg { background: url('vg.png'); }
.vi { background: url('vi.png'); }
.vn { background: url('vn.png'); }
.vu { background: url('vu.png'); }
.wf { background: url('wf.png'); }
.ws { background: url('ws.png'); }
.ye { background: url('ye.png'); }
.yt { background: url('yt.png'); }
.yu { background: url('yu.png'); }
.za { background: url('za.png'); }
.zm { background: url('zm.png'); }
.zr { background: url('zr.png'); }
.zw { background: url('zw.png'); }